{% extends 'base.html' %}

{% block content %}
    <div class="content-section">

        <div class="row">
            <div class="col-2 text-center bg-light border ">
                <h3>User</h3>
                <img class="border-bottom" src="{{ user.photo.url }}" alt="" width="100%" height="">
                <h3><p class="badge badge-primary w-100">{{ user.username }}</p></h3>
            </div>
            <div class="col-4 bg-light border">
                <h3 class="text-center">Main Info</h3>
                {% if user.name %}
                    <p><b>Name</b>: {{ user.name }}</p>
                {% else %}
                    <p>No name</p>
                {% endif %}
                {% if user.name %}
                    <p><b>Phone</b>: {{ user.phone }}</p>
                {% else %}
                    <p>No phone</p>
                {% endif %}
                {% if user.name %}
                    <p><b>Address</b>: {{ user.address }}</p>
                {% else %}
                    <p>No address</p>
                {% endif %}
            </div>
            <div class="col-6 bg-light border">
                <h3 class="text-center">Additional Info</h3>
                <p><b>Gender</b>: {{ user.gender }}</p>
                <p><b>Age</b>: {{ user.age }}</p>
                <p>
                    <b>Activities</b>:
                    {% for act in user.activities.all %}
                        {{ act }}.
                    {% endfor %}
                </p>
                <p><b>Birthday</b>: {{ user.birthday }}</p>
                <p><b>Bonuses</b>: {{ user.bonuses }}</p>
                <a class="btn btn-success mb-2 float-right" href="edit/" role="button">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}